<html>
<body>
    <table border="1">
        <tr>
            <td>nome</td>
            <td></td>
        </tr>
        <%for(var i=0;i<rooms.length;i++){%>
            <tr>
                <td><%=rooms[i].name%></td>
                <td><a href="/chat?room=<%=rooms[i].name%>&user=<%=user%>">Entrar</a> </td>
            </tr>    
        <%}%>
    </table>
</body>
</html>